<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Workout</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('exercise_list') }}">Exercise List</a></li>
                <li><a href="{{ url_for('workout_list') }}">Workout List</a></li>
                <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <h1>Add Workout</h1>
        <form action="{{ url_for('add_workout') }}" method="post">
            <label for="name">Workout Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>

            <label for="focus">Focus:</label>
            <input type="text" id="focus" name="focus">

            <label for="intensity">Intensity:</label>
            <input type="text" id="intensity" name="intensity">

            <!-- Add Workout Button -->
            <button type="submit">Add Workout</button>

            <!-- Select Exercise Button -->
            <a href="{{ url_for('select_exercise', workout_id=generated_workout_id) }}" class="btn select-exercise-btn">Select Exercise</a>
        </form>
    </div>
    <script src="static/add-workout.js"></script>
</body>
</html>
